<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <ul>
        <li><a href="/zipcode-forecast">zipcode-forecase</a></li>
        <li><a href="/static-file">static-file</a></li>
    </ul>
</body>
</html>