<% include header %>
<h1>What's your zip code?</h1>
<form class="pure-form">
	<fieldset>
		<input autofocus required name="zip" type="number" placeholder="zipcode, like'12345'"/>
		<input type="submit" value="Go" class="pure-button pure-button-primary"/>
	</fieldset>
</form>
<% include footer %>