<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>static-file</title>
</head>
<body>
    <form action="/static-file/queryFile" method="GET">
        <label>
            文件搜索： <input type="search" name="name" placeholder="test">
        </label>
    </form>
</body>
</html>