<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Hi! <span><%= user.name%></span></h1>
  <% if(user) { %>
    <a href="/logout">退出登录</a>
  <% } %>
  <ul>
    <li><a href="/zipcode-forecast">zipcode-forecase</a></li>
    <li><a href="/static-file">static-file</a></li>
    <li><a href="/guest-book">guest-book</a></li>
    <li><a href="/pro-express">pro-express</a></li>
    <li><a href="/seed">seed</a></li>
    <li><a href="/daily-english">Daily English</a></li>
    <li><a href="/pagination">pagination</a></li>
    <li><a href="/upload?page=1">文件上传</a></li>
  </ul>
  <i>app version: <%= contants.appVersion %></i>
</body>

</html>
