<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily English</title>
</head>
<body>
    <form action="/daily-english/sentence/create" method='post'>
        <label>
            英文：<textarea name="enText" placeholder="英文原文" cols="30" rows="10"></textarea>
        </label>
        <label>
            中文：<textarea name="cnText" placeholder="中文翻译" cols="30" rows="10"></textarea>
        </label>
        <button type='submit'>提交</button>
    </form>

    <h3>每日一句英文：</h3>
    <form action="/daily-english/sentence/deleteAll" method='post'>
        <button type='submit'>全部删除</button>
    </form>
    <ul>
        <% for(var i = 0; i < sentences.length; i++) { %>
        <li>
            <p><%= sentences[i].enText %></p>
            <p><%= sentences[i].cnText %></p>
            <button class='del-button' type='button' data-id=<%= sentences[i]._id %>>del</button>
        </li>
        <% } %>
    </ul>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/daily-english/main.js"></script>
</body>
</html>